
.container_order {
    width: 1800px;
    height: 900px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 120px;
}

.shape {
    background-color: #F6EAFF;
    border-top-left-radius: 250px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 30px;
    display: flex;
}

.content_shape {
    margin-top: 134px;
    margin-left: 75px;
}

.text_info h1 {
    width: 885px;
    font-size: 70px;
    font-weight: 500;
}

.text_info i {
    margin-top: 10px;
    width: 593px;
    height: 83px;
    font-size: 70px;
    color: #9C5DE0;
}

.background_content_shape img {
    margin-top: -30px;
    margin-left: 30px;
}

.background_content_shape {
    width: 1600px;
    height: 900px;
    background-image: url(../img/listia.png);
    background-repeat: no-repeat;
    background-position: right;
}


.button_order {
    margin-top: 270px;
}

.button_order button {
    width: 467px;
    height: 97px;
    background-color: #AA5DE5;
    border: 0px;
    border-radius: 15px;
    font-size: 48px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.search_input {
    display: flex;
    align-items: center;
    width: 1740px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.img_search {
    position: absolute;
    left: 100px;
}

.input_search input {
    width: 1570px;
    height: 135px;
    padding-left: 170px;
    background-color: #E4CCFF4D;
    border-radius: 30px;
    border: 0px;
    font-size: 48px;
}

.flex_container {
    width: 1740px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.flex {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
}

.hover_text:hover {
    color: #AA5DE5;
}

.flex:nth-child(1) {
    width: 640px;
    height: 600px;
    border: 0px;
    background-color: #E4CCFF;
    border: 30px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
    align-content: center;
}

.flex:nth-child(2) {
    width: 420px;
    height: 600px;
    border-radius: 30px;
    background-color: #FFF6C6;
    align-content: center;
}

.flex:nth-child(3) {
    width: 640px;
}

.flex:nth-child(4) {
    align-content: center;
    border-radius: 30px;
    width: 640px;
    height: 445px;
    background-color: #FFF6C6;
}

.flex:nth-child(5) {
    align-content: center;
    border-radius: 30px;
    border-top-left-radius: 250px;
    border-bottom-right-radius: 250px;
    width: 640px;
    height: 445px;
    background-color: #E4CCFF;
}

.flex:nth-child(6) {
    align-content: center;
    border-radius: 30px;
    width: 420px;
    height: 445px;
    background-color: #FFF6C6;
}

.text_flex_info {
    text-align: left;
    width: 450px;
    height: 150px;
    font-size: 64px;
}

.btn_flex_info button {
    margin-top: 34px;
    width: 640px;
    height: 100px;
    background-color: #AA5DE5;
    color: white;
    border: 0px;
    border-radius: 15px;
    font-size: 48px;
    font-weight: 500;
    cursor: pointer;
}

.anim_it {
    display: flex;
}

.flex_animals_text {
    margin: 0 auto;
    align-content: center;
    width: 420px;
    height: 290px;
    border-radius: 30px;
    margin-top: 25px;
    background-color: #FFF6C6;
}

.flex_it_text {
    margin: 0 auto;
    align-content: center;
    width: 200px;
    height: 290px;
    margin-top: 25px;
    border: 30px;
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
    background-color: #E4CCFF;
}

.why_select_container {
    width: 100%;
    margin-bottom: 120px;
}

.background {
    width: 100%;
    height: 914px;
    background-image: url(../img/1.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.flex_container_why_select {
    display: flex;
    width: 1740px;
    height: 881px;
    background-color: #F6EAFF;
    margin: 0 auto;
    border-radius: 30px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
}

.info_why_select {
    margin-top: 138px;
    margin-left: 75px;
}

.bold_text {
    font-size: 70px;
    font-weight: 600;
}

.ul_text_info {
    font-size: 32px;
}

.flex_ul_text {
    display: flex;
}

.flex_ul_text p {
    margin-left: 15px;
}

.rotate1 {
    transform: rotate(135deg);
}

.rotate2 {
    transform: rotate(-114deg);
}

.rotate3 {
    transform: rotate(125deg);
}

.rotate4 {
    transform: rotate(14deg);
    margin-left: 15px;
}

.flex_ul_text i {
    color: #AA5DE5;
    margin-left: 15px;
    font-weight: 500;
    font-style: italic
}

.btn_registration button {
    margin-top: 72px;
    width: 580px;
    height: 100px;
    margin-bottom: 150px;
    background-color: #AA5DE5;
    border: 0px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 48px;
    font-weight: 500;
}

.work_container {
    width: 1740px;
    height: 1383px;
    border: 0px;
    margin: 0 auto;
    border-radius: 30px;
    border-top-left-radius: 250px;
    border-bottom-right-radius: 250px;
    background-color: #AA5DE5;
    margin-bottom: 100px;
}

.center {
    padding-top: 70px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    color: white;
}

.text_center {
    margin-top: 40px;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    font-style: italic;
    color: white;
}

.flex_container_work {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
}

.elems_work {
    margin: 0 auto;
    width: 420px;
    height: 420px;
    background-color: #F9F9F9;
    border-radius: 30px;
    text-align: center;
}

.img_elems {
    margin: 0 auto;
    margin-top: 50px;
    width: 350px;
    height: 250px;
}

.text_elems {
    text-align: left;
    margin-left: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 26px;
    color: #171C21;
}

.last_container {
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
}

.yellow {
    width: 1740px;
    height: 585px;
    background-color: #FFE656;
    margin: 0 auto;
    border-radius: 30px;
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
    margin-top: 65px;
}
.app {
    position: absolute;
    left: 1190px;
    width: 580px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.app img {
    margin-top: 24px;
}

.text {
    margin-top: 112px;
    margin-left: 76px;
    color: #171C21;
}

.yellow_text_info {
    font-size: 70px;
    font-weight: 600;
}

.yellow_info {
    font-size: 32px;
    width: 570px;
    margin-top: 30px;
}

.icons {
    display: flex;
    width: 380px;
    height: 160px;
    margin-left: 660px;
    margin-top: 33px;
}

.icon {
    width: 160px;
    height: 160px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 30px;
}

.icon:nth-child(1) {
    background-image: url(../img/qr_io.svg);
}

.icon:nth-child(2) {
    background-image: url(../img/qr_and.svg);
}

.button_order button:hover {
    color: #FFE656;
}

.button_order button:active {
    color: #FFE656;
}

.btn_flex_info button:hover {
    color: #FFE656;
}

.btn_flex_info button:active {
    color: #FFE656;
}

.btn_registration button:hover {
    color: #FFE656;
}

.btn_registration button:active {
    color: #FFE656;
}

.registration_menu {
    display: none;
    z-index: 10; /* Чтобы сделать окно поверх всех элементов */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный темный фон */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll; /* При переполнении окна делаем скролл */
    padding: 20px;
}

.menu {
    width: 1700px;
    height: 850px;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.menu {
    padding-top: 64px;
    padding-left: 75px;
}

.first_text {
    font-size: 70px;
    font-weight: 500;
}

.inputs_reg {
    margin-top: 80px;
}

.text_input p {
    font-size: 48px;
}

.inputs {
    margin-top: 27px;
}

.input {
    margin-bottom: 40px;
}

.input input {
    margin: 0 auto;
    width: 1590px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    font-size: 32px;
    font-weight: 600;
}

.purple_text {
    margin-top: 15px;
    color: #AA5DE5;
}

.registration_menu--open {
    display: flex; /* Модификатор для открытого окна */
}

.btn_continue {
    width: 380px;
    margin: 0 auto;
}

#btn_close {
    background-color: #AA5DE5;
    border-radius: 15px;
    border: 0px;
    width: 380px;
    height: 100px;
    font-size: 48px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

#btn_close:hover {
    color: #FFE656;
}

#flip {
    height: 90px;
    overflow:hidden;
  }
  
#flip > div > div {
    color:#AA5DE5;
    height:50px;
    margin-bottom:45px;
    display:inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}


@media (max-width: 1540px) {

    .container_order {
        width: 1300px;
        height: 695px;
    }

    .text_info h1 {
        width: 600px;
        font-size: 40px;
    }

    .text_info i {
        font-size: 40px;
    }

    .background_content_shape {
        width: 695px;
        height: 695px;
        background-size: contain;
    }

    .button_order {
        margin-top: 120px;
    }

    .button_order button {
        margin-bottom: 150px;
        font-size: 40px;
    }

    .background_content_shape img {
        margin-top: 0px;
        margin-left: 5px;
        width: 600px;
    }

    .search_input {
        width: 1300px;
    }

    .input_search input {
        width: 1130px;
        height: 100px;
        font-size: 40px;
    }

    .img_search img {
        width: 50px;
    }

    .flex {
        font-size: 40px;
    }

    .flex_container {
        width: 1300px;
    }

    .flex:nth-child(1) {
        width: 450px;
    }

    .flex:nth-child(2) {
        width: 300px;
    }

    .flex:nth-child(3) {
        width: 450px;
    }

    .flex:nth-child(4) {
        width: 450px;
    }

    .flex:nth-child(5) {
        width: 450px;
    }

    .flex:nth-child(6) {
        width: 300px;
    }

    .btn_flex_info button {
        width: 450px;
    }

    .flex_animals_text {
        width: 240px;
    }

    .flex_it_text {
        width: 190px;
    }

    .flex_container_why_select {
        width: 1300px;
    }

    .bold_text {
        font-size: 40px;
    }

    .ul_text_info  {
        font-size: 24px;
    }

    .btn_registration button {
        width: 480px;
    }
    
    .background {
        background-size: contain;
    }

    .work_container {
        width: 1300px;
        height: 1500px;
    }
    
    .elems_work {
        width: 350px;
    }

    .img_elems img{
        width: 300px;
    }

    .yellow {
        width: 1300px;
    }

    .icons {
        margin-left: 400px;
    }

    .app {
        width: 380px;
        left: 900px;
    }

    .first_text {
        font-size: 48px;
    }

    .inputs_reg {
        margin-top: 30px;
    }

    .input input {
        width: 1200px;
    }

    .menu {
        width: 1300px;
        height: 750px;
    }
}
